.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.navbar h1 {
  margin-left: 2rem;
  margin-right: auto;
}

.navbar button {
  margin-right: 2rem;
  margin-left: auto;
}

.title {
  margin-top: 6rem;
}

.container {
  margin: 2rem;
}

button {
  cursor: pointer;
  background-color: var(--terciary-color);
  border-radius: 1rem;
  border: 1px solid var(--terciary-color);
  padding: 0.5rem 15rem;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 0.85;
}

.listAlunos {
  background-color: var(--terciary-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  text-align: center;
}

.listAlunos h2,
.listAlunos p {
  margin: 0;
  padding: 0;
}

.topoLista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btnEstilizado {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: 400;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  color: white;
}

.btnEstilizado:hover {
  opacity: 0.9;
}

.modalBoxGrande {
  background-color: var(--terciary-color);
  border-radius: 1rem;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 90vh;
  overflow-y: auto;
}

.modalBoxGrande form {
  margin-left: 10rem;
}

.modalBoxGrande button {
  padding: 0.7rem 1.5rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalBox {
  background-color: #ffffff;
  border-radius: 1rem;
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: scaleIn 0.2s ease-in-out;
  max-height: 90vh;
  overflow-y: auto;
}

.modalButton {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.7rem 1rem;
  border-radius: 0.6rem;
  margin-top: 0.75rem;
  color: white;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

input,
select {
  border-radius: 0.8rem;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.5rem 0.3rem;
  transition: 0.2s ease-in-out;
  background: white;
}

input:focus-visible,
select:focus-visible {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 450px) {
  .formGrid {
    grid-template-columns: 1fr 1fr;
  }
}

.exerciseCard {
  background: #f7f7f7;
  padding: 1rem;
  border-radius: 0.8rem;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.removeBtn {
  background: #e74c3c;
  color: white;
  border: none !important;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.removeBtn:hover {
  opacity: 0.85;
}
