.container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

button {
  cursor: pointer;
  background-color: var(--terciary-color);
  border-radius: 1rem;
  border-color: var(--terciary-color);
  padding: 0.5rem 16rem;
  font-weight: 500;
}

.listAlunos {
  background-color: var(--terciary-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.listAlunos h2,
.listAlunos p {
  margin: 0;
  padding: 0;
}

.topoLista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.btnEstilizado,
.btnEstilizado:active,
.btnEstilizado:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: 400;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalBox {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalButton {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  margin-top: 0.75rem;
  padding: 0.71rem 1rem;
}

input {
  border-radius: 2rem;
  border: 1px solid #ccc;
  margin-top: 0.2rem 3rem;
  padding: 0.5rem 10rem 0.5rem 1rem;
}

input:focus-visible {
  border-color: var(--primary-color);
}
