body {
  margin: 2rem;
}

span {
  background-color: var(--terciary-color);
  display: block;
  border-radius: 2rem;
  padding: 0.75rem 4rem;
  margin: 0 auto;
  width: fit-content;
  font-weight: 700;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.navbar h1 {
  margin-left: 2rem;
  margin-right: auto;
}

.navbar button {
  margin-right: 2rem;
  margin-left: auto;
}

.title {
  margin-top: 6rem;
}

.diasTreinos {
  background-color: var(--terciary-color);
  border-radius: 0.75rem;
  padding: 1rem;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.treinoCard {
  background: white;
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.treinoCard button {
  padding: 0.5rem;
  border: none;
  background: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.treinosSemanais {
  list-style: none;
  padding: 0;
}

@media (max-width: 900px) {
  .diasTreinos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .diasTreinos {
    grid-template-columns: 1fr;
  }
}
